[submodule "submodules/source-maps-downloader"]
	path = submodules/source-maps-downloader
	url = https://github.com/yunatamos/source-maps-downloader.git
	ignore = all
[submodule "submodules/ghostty-themes"]
	path = submodules/ghostty-themes
	url = https://github.com/flyerAI2025/ghostty-themes.git
	ignore = all
